.bounding-box {
    position: absolute;
    box-shadow: inset 0 0 0 3px #795548 ;
    background-color: rgba(239, 235, 233, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}